
/**
 * WooCommerce Styles
 **/

.status-payed-online {
    color: #14173c !important;
    background: #b5c0fb !important;
}

/**
 * Debug Page Styling
 **/

.debug__container {
    background: white;
    padding: 15px;
}