
html, body {
    overflow-x: visible;
}
/**
 * WooCommerce Styles
 **/

.status-payed-online {
    color: #14173c !important;
    background: #b5c0fb !important;
}

/**
 * Debug Page Styling
 **/

.debug__container {
    background: white;
    padding: 15px;
}

/**
 * Add an Coffee Icon to Admin bar next to Debug Page Item
 */

#wpadminbar #wp-admin-bar-jsd-debug-page .ab-icon:before {
    content: "\f16f";
    top: 3px;
}
